<!DOCTYPE html>
<html lang="ro">

<head>
    
    <meta name="description" content="Site-ul unui restaurant care ofera meniuri pentru micul dejun, pranz si cina.">
    <meta name="keywords" content="restaurant, mancare, meniu, mic dejun, pranz, cina, meniul zilei, desert, bauturi">
    <title>Cel mai smecher restaurant</title>

    <%- include("../fragmente/head.ejs") %>
</head>
    <%- include("../fragmente/nav.ejs") %>
<body>
    <%- include("../fragmente/header.ejs") %>
    <main>
        <div id="err-coloane">
			<div id="err-imag">
				<img src="<%- locals.imagine %>" />
			</div>
			<section>
				<h2><%- locals.titlu %></h2>
				<p><%- locals.text %></p>
			</section>
		</div>
    </main>
    <%- include("../fragmente/footer.ejs") %>
</body>

</html>
    