<!DOCTYPE html>
<html lang="ro">

<head>
    
    <meta name="description" content="Site-ul unui restaurant care ofera meniuri pentru micul dejun, pranz si cina.">
    <meta name="keywords" content="restaurant, mancare, meniu, mic dejun, pranz, cina, meniul zilei, desert, bauturi">
    <title>Cel mai smecher restaurant</title>

    <%- include("../fragmente/head.ejs") %>
</head>
<body>
    <%- include("../fragmente/header.ejs") %>
    <main>
        <%- include("../fragmente/nav.ejs") %>
    <main>
        <%- include("../fragmente/galerie.ejs") %>
    </main>
    <%- include("../fragmente/footer.ejs") %>
</body>

</html>