<!DOCTYPE html>
<html lang="ro">

<head>
    
    <meta name="description" content="Site-ul unui restaurant care ofera meniuri pentru micul dejun, pranz si cina.">
    <meta name="keywords" content="restaurant, mancare, meniu, mic dejun, pranz, cina, meniul zilei, desert, bauturi">
    <title>Cel mai smecher restaurant</title>

    <%- include("../fragmente/head.ejs") %>
    <link rel="stylesheet" href="/resurse/css/produse.css">
    
    <div id="config"
        data-lungime-nume-max="<%= locals.lungimeNumeMax %>"
        data-lungime-descriere-max="<%=locals.lungimeDescriereMax %>"
        data-numar-produse-alcool="<%= locals.numarProduseAlcool %>"
        data-produse = '<%- JSON.stringify(locals.produse) %>'
    ></div>
    <script type="text/javascript" src=/resurse/js/produse.js></script>

</head>
<body>
    <%- include("../fragmente/header.ejs") %>
    <main>
        <%- include("../fragmente/nav.ejs") %> 
        <div class="container">
            <div class="row g-3" style="margin-top: 1rem;">
            <div class="col-md-6 col-lg-4 text-center">
                <label for="inp-nume" class="form-label">Nume</label>
                <input type="text" class="form-control" id="inp-nume" placeholder="Ex: <%= locals.numeProduse[0] %>" title="Se pot cauta produse dupa nume si cu [inceput] * [sfarsit]">
                <p class="invalid-feedback d-block" id="mesaj-eroare-inp-nume"></p>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="form-floating">
                    <textarea class="form-control" id="inp-descriere"  placeholder="ex: Supă fină cu smântână" title="Ex: <%= locals.produse[0].descriere %>" style="height: 100px"></textarea>
                    <label for="inp-descriere">Descriere</label>
                </div>
                <p class="invalid-feedback d-block" id="mesaj-eroare-inp-descriere"></p>
            </div>

            <div class="col-md-6 col-lg-4 text-center">
                <label for="inp-nume-cu-autocomplete" class="form-label">Nume cu autocomplete</label>
                <input list="lista-nume" class="form-control" id="inp-nume-cu-autocomplete">
                <datalist id="lista-nume">
                <% for (let nume of locals.numeProduse) { %>
                    <option value="<%- nume %>"></option>
                <% } %>
                </datalist>
                <p class="invalid-feedback d-block" id="mesaj-eroare-inp-nume-cu-autocomplete"></p>
            </div>
            <div class="col-md-6 col-lg-4 text-center">
                <label for="inp-ingrediente-excluse" class="form-label">Ingrediente excluse</label>
                <select id="inp-ingrediente-excluse" class="form-select" multiple
                    aria-describedby="help-ingrediente-excluse"
                    style="height: 10rem; overflow-y: auto; border-top-right-radius: 0; border-bottom-right-radius: 0;">
                    <% for (let optiune of optiuniIngrediente) { %>
                        <option value="<%- optiune %>"><%- optiune %></option>
                    <% } %>
                </select>
                <div id="help-ingrediente-excluse" class="form-text text-secondary">
                    Ține Ctrl pentru a selecta/deselecta mai multe elemente.
                </div>
            </div>

            <div class="col-md-6 col-lg-4 text-center">
                <label for="inp-categorie" class="form-label">Selectează perioada mesei</label>
                <select id="inp-categorie" class="form-select">
                <% for (let optiune of locals.optiuniMeseleZilei) { %>
                    <option value="<%- optiune %>" <%= optiune == "oricand" ? "selected" : ""%>><%- optiune %></option>
                <% } %>
                </select>
            </div>

            <div class="col-md-4 col-lg-4 d-flex justify-content-center align-items-center position-relative">
                <input type="checkbox" class="btn-check" id="inp-alcool" autocomplete="off" checked>
                <label class="btn btn-outline-danger btn-lg rounded-pill" id="button-inp-alcool" for="inp-alcool" title="Ascunde produsele care contin alcool, <%=locals.numarProduseAlcool%> produse">
                    <i class="bi bi-cup-straw"></i> 
                    <span class="d-none d-sm-inline">Cu alcool</span>
                </label>
                <p class="mesaj-succes" id="mesaj-apasare-button-inp-alcool"></p>
            </div>




            <%
                // Împărțim domeniul în 3 intervale egale
                let dif = locals.caloriiMax - locals.caloriiMin;
                let prag1 = Math.floor(caloriiMin + dif / 3);
                let prag2 = Math.floor(caloriiMin + 2 * dif / 3);
            %>

            <div class="col-12">
                <label class="form-label">Calorii:</label>
                <div class="btn-group w-100" role="group">
                <input type="radio" class="btn-check" name="gr_rad" id="i_rad1" value="<%= locals.caloriiMin %>:<%= prag1 %>">
                <label class="btn btn-outline-primary" for="i_rad1" title="sub <%= prag1 %> de kcal">Dietetic</label>

                <input type="radio" class="btn-check" name="gr_rad" id="i_rad2" value="<%= prag1 %>:<%= prag2 %>">
                <label class="btn btn-outline-primary" for="i_rad2" title="intre <%= prag1 %> si <%= prag2 %> de kcal">Mediu</label>

                <input type="radio" class="btn-check" name="gr_rad" id="i_rad3" value="<%= prag2 %>:<%= locals.caloriiMax %>">
                <label class="btn btn-outline-primary" for="i_rad3" title="peste <%= prag2 %> de kcal">Ridicat</label>

                <input type="radio" class="btn-check" name="gr_rad" id="i_rad4" value="toate" checked>
                <label class="btn btn-outline-primary" for="i_rad4">Toate</label>
                </div>
            </div>

            <div class="col-md-6">
                <label for="inp-pret-minim" class="form-label">Pret minim:</label>
                <div class="d-flex align-items-center">
                <span id="valoarea-minima-pret-minim" class="me-2"><%= locals.pretMinim %></span>
                <input type="range" class="form-range" id="inp-pret-minim" value="<%= locals.pretMinim %>" min="<%= locals.pretMinim %>" max="<%= locals.pretMaxim %>">
                <span id="valoarea-maxima-pret-minim" class="mx-2"><%= locals.pretMaxim %></span>
                <span id="infoRangeMinim">(<%= locals.pretMinim %>)</span>
                </div>
            </div>

            <div class="col-md-6">
                <label for="inp-pret-maxim" class="form-label">Pret maxim:</label>
                <div class="d-flex align-items-center">
                <span id="valoarea-minima-pret-maxim" class="me-2"><%= locals.pretMinim %></span>
                <input type="range" class="form-range" id="inp-pret-maxim" value="<%= locals.pretMaxim %>" min="<%= locals.pretMinim %>" max="<%= locals.pretMaxim %>">
                <span id="valoarea-maxima-pret-maxim" class="mx-2"><%= locals.pretMaxim %></span>
                <span id="infoRangeMaxim">(<%= locals.pretMaxim %>)</span>
                </div>
            </div>

            <p class="mesaj-eroare" id="mesaj-eroare-inp-pret"></p>

  

            <div class="col-12 d-flex flex-wrap gap-2">
                <button type="button" class="btn btn-primary" id="filtrare">
                <i class="bi bi-funnel"></i> <span class="d-none d-sm-inline">Filtrează</span>
                </button>
                <button type="button" class="btn btn-secondary" id="resetare">
                <i class="bi bi-arrow-clockwise"></i> <span class="d-none d-sm-inline">Resetează</span>
                </button>
                <button type="button" class="btn btn-outline-primary" id="sortCrescNume">
                <i class="bi bi-sort-alpha-down"></i> <span class="d-none d-sm-inline">Sort cresc: Pret + Nume</span>
                </button>
                <button type="button" class="btn btn-outline-primary" id="sortDescrescNume">
                <i class="bi bi-sort-alpha-up"></i> <span class="d-none d-sm-inline">Sort desc: Pret + Nume</span>
                </button>
                <button type="button" class="btn btn-outline-info" id="sortCrescNumeDescriere">
                <i class="bi bi-sort-alpha-down"></i> <span class="d-none d-sm-inline">Sort cresc: Nume + Desc</span>
                </button>
                <button type="button" class="btn btn-outline-info" id="sortDescrescNumeDescriere">
                <i class="bi bi-sort-alpha-up"></i> <span class="d-none d-sm-inline">Sort descresc: Nume + Desc</span>
                </button>
                <button type="button" class="btn btn-success" id="p-suma-selectat">
                <i class="bi bi-calculator"></i> <span class="d-none d-sm-inline">Calculează suma</span>
                </button>
            </div>

            <div class="col-12">
                <p id="p-suma" class="mt-3">Apăsați Alt+"c" pentru suma prețurilor produselor afișate.</p>
            </div>
        </div>

  
        <section id="produse">
            <h2>Produse</h2>
            <div class="grid-produse">
                <% for( let prod of locals.produse) { %>
                    <article class="produs" id="art<%- prod.id %>">
                        <h3 class="nume">
                            Nume: 
                            <a href="/produs/<%- prod.id %>">
                                <span class="val-nume"><%- prod.nume %></span>
                            </a>
                        </h3>
                        <div class="container-produs">
                            <figure class="figura-produs">
                                <a href="/produs/<%- prod.id %>">
                                    <img src="/resurse/imagini/produse/<%- prod.imagine %>" alt="imagine <%- prod.nume %>">
                                </a>
                            </figure>

                            <table class="tabel-caracteristici">
                                <tr>
                                    <td class="pret">Pret:</td>
                                    <td class="val-pret"><%- prod.pret %> lei</td>
                                </tr>
                                <tr>
                                    <td class="gramaj">Gramaj:</td>
                                    <td class="val-gramaj"><%- prod.gramaj %> g</td>
                                </tr>
                                <tr>
                                    <td class="calorii">Calorii:</td>
                                    <td class="val-calorii"><%- prod.calorii %> kcal</td>
                                </tr>
                                <tr>
                                    <td class="descriere">Descriere:</td>
                                    <td class="val-descriere"><%- prod.descriere %></td>
                                </tr>
                                <tr>
                                    <td class="categorie">Se poate comanda: </td>
                                    <td class="val-categorie"><%- prod.specific_mesei_zilei %></td>
                                </tr>
                                <tr>
                                    <td class="ingrediente">Ingrediente:</td>
                                    <td class="val-ingrediente"><%- prod.ingrediente %></td>
                                </tr>
                                <tr>
                                    <td class="data-adaugare">Data produs adaugat in meniu:</td>
                                    <td class="val-data-adaugare">
                                        <% 
                                            const d = new Date(prod.data_adaugare);
                                            const zile = ['Duminica','Luni','Marti','Miercuri','Joi','Vineri','Sambata'];
                                            const luni = ['Ianuarie','Februarie','Martie','Aprilie','Mai','Iunie','Iulie','August','Septembrie','Octombrie','Noiembrie','Decembrie'];
                                            const dataFormat = `${d.getDate()}/${luni[d.getMonth()]}/${d.getFullYear()} (${zile[d.getDay()]})`;
                                        %>
                                        <time><%= dataFormat %></time>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="contine-alcool">Contine alcool: </td>
                                    <td class="val-contine-alcool"><%- prod.contine_alcool ? "Da" : "Nu" %></td>
                                </tr>
                            </table>
                        </div>

                        <div class="text-center">
                            <input type="checkbox" class="btn-check select-cos" id="prod-<%- prod.id %>" autocomplete="off" value="<%- prod.id %>">
                            <label class="btn btn-outline-primary" for="prod-<%- prod.id %>">
                                Selectează
                            </label>
                        </div>
                    </article>
                <% }%>
            </div>
            <div id="carouselProduse" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators"></div>
                <div class="carousel-inner"></div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselProduse" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselProduse" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>
            <script type="text/javascript" src=/resurse/js/carousel.js></script>
        </section>
    </main>
    <%- include("../fragmente/footer.ejs") %>
</body>

</html>